body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.text {
    display: flex;
    height: 325px;
    width: 750px;
    
}
.add {

    background-color: green;
    color: #fff;
    width: 100px;
    -webkit-text-stroke-width: 0.5px;
    border-radius: 10px;
    border-color: #fff;
}   
.delete {

    background-color: red;
    width: 100px;
    -webkit-text-stroke-width: 0.5px;
    border-radius: 10px;
    border-color: #000000;

}

.button {
    margin-bottom: 15px;
    margin-top: 10px;
}
.notatki1{
    color: wheat;
}